<ng-container *ngIf="item">
  <main class="flex justify-between w-full font-bold pb-3">
    <section class="flex space-x-10">
      <div
        class="w-1"
        [ngClass]="
          item.transaction.creditDebitIndicator === 'DBIT'
            ? 'bg-red-600'
            : 'bg-green-600'
        "
      ></div>
      <div class="flex text-sm h-full items-center">
        {{ item?.dates?.valueDate | date: "MMM. d" }}
      </div>
      <div class="flex flex-col h-full">
        <p class="items-center">{{ item.merchant.name }}</p>
        <p class="text-xs items-center text-gray-400">
          {{ item.transaction.type }}
        </p>
      </div>
    </section>
    <section class="flex">
      <div
        class="flex text-sm h-full items-center"
        [ngClass]="
          item.transaction.creditDebitIndicator === 'DBIT'
            ? 'text-red-600'
            : 'text-green-600'
        "
      >
        €
        <span *ngIf="item.transaction.creditDebitIndicator === 'DBIT'"> -</span>
        {{ item?.transaction?.amountCurrency?.amount }}
      </div>
    </section>
  </main>
  <hr class="border-t-1 border-solid" />
</ng-container>
