<ng-container *ngIf="accountEvent$ | async as accountEvent">
  <main>
    <app-dialog (onClick)="closeModal()" [accountEvent]="accountEvent"></app-dialog>
    <section class="flex justify-end space-x-2 pt-4">
      <app-modal-button [class]="'border border-black text-black'" [text]="'Close'" (handleClick)="closeModal()"></app-modal-button>
      <app-modal-button [class]="'bg-yellow-600  text-white'" [text]="'Send transfer'" (handleClick)="confirm()"></app-modal-button>
    </section>
  </main>
</ng-container>
