<ng-container *ngIf="accountEvent$ | async as accountEvent">
  <main>
    <section class="flex justify-between pb-3 pt-3">
      <h2 class="text-xl"><strong>Review</strong> transfer</h2>
      <button aria-label="'Close modal'" (click)="closeModal()">X</button>
    </section>
    <hr class="border-t-1 border-solid" />
    <p class="text-sm font-bold pt-3 italic">Are you ready to sent out this transfer?</p>
    <p class="text-sm font-extrabold pt-3">It will be sent to account:</p>
    <p class="text-sm pt-1">
      {{ accountEvent.account }}
    </p>
    <p class="text-sm font-extrabold pt-3">With the amount of</p>
    <p class="text-sm pt-1">{{ accountEvent.amount }}</p>
    <div class="flex justify-end space-x-2 pt-4">
      <app-modal-button [class]="'border border-black text-black'" [text]="'Close'" (handleClick)="closeModal()"></app-modal-button>
      <app-modal-button [class]="'bg-yellow-600  text-white'" [text]="'Send transfer'" (handleClick)="confirm()"></app-modal-button>
    </div>
  </main>
</ng-container>
