<div class="w-auto bg-white rounded-lg">
  <app-box-header [title]="'Transactions list'" [image]="'list.svg'"></app-box-header>
  <section class="flex border m-3 overscroll-y-auto">
    <app-filter (inputChange)="handleInputChange($event)"></app-filter>
  </section>
  <ng-container *ngIf="accountEvents$ | async as accountsEvents">
    <section class="fixedHeightContainer">
      <div class="m-4 content" *ngFor="let item of accountsEvents.data">
        <app-list-item [item]="item"></app-list-item>
      </div>
    </section>
  </ng-container>
</div>
