<div class="w-auto bg-white rounded-lg">
  <app-box-header
    [title]="'Transactions list'"
    [image]="'list.svg'"
  ></app-box-header>
  <div class="flex border-2 m-3 rounded-sm overscroll-y-auto">
    <div class="w-6 h-full bg-gray-300 align-self-center">
      <img [src]="urlImages + 'search.svg'" alt="search" />
    </div>
    <app-filter (inputChange)="handleInputChange($event)"></app-filter>
  </div>
  <ng-container *ngIf="accountEvents$ | async as accountsEvents">
    <div class="fixedHeightContainer">
      <div class="m-3 content" *ngFor="let item of accountsEvents.data">
        <app-list-item [item]="item"></app-list-item>
      </div>
    </div>
  </ng-container>
</div>
